
.features-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 127px;
    
}
.features-columns__column {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.column-logo {
    
}
.columns-logo__logo {
    margin-bottom: 29px;
    
}
.container-columns__text {
    font-family: Raleway;
font-size: 24px;
font-weight: 900;
line-height: 28px;
text-align: center;
margin-bottom: 20.43px;

}
.container-columns__subtext {
    font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
margin-bottom: 100px;
}
@media screen and (max-width: 766px) {
    .features-columns {
        flex-direction: column;
        align-content: center;
    }
    
.features-columns__column {
    width: 100%;
}
.container-columns__text {

}
.container-columns__subtext {
    
}
}