@import url(https://fonts.google.com/specimen/Cardo?query=cardo);
.testimonials {
    max-width: 1510px;
    margin: 0 auto;
}
.testimonials__items {
    display: flex;
    
}
.items__left {
//     background-image: url(../img/testimonials-left.svg);
// background-repeat: no-repeat;
// background-position: center center;
// background-size: cover;
// background-attachment: scroll;
img {
         max-width: 740px;
         width: 100%;
  }
    
}
.items__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5C3249;
    max-width: 770px;
    width: 100%;
    
}
.items__right-text {
max-width: 470px;

}
.items__right-title {
    font-family: 'Cardo', serif;
font-size: 36px;
font-style: italic;
font-weight: 400;
line-height: 49px;
color: #fff;


}
.items__right-subtitle {

color: #fff;
font-family: 'Raleway', sans-serif;
font-size: 13px;
font-weight: 700;
line-height: 15px;
}
.items__down {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    :nth-child(2) {
        background-color: #7E5D6F;
}
.items__down-ball {
    border: 1px solid #7E5D6F;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 25px;
    }
}

@media screen and ( max-width: 1000px) {
    .items__right-title {
font-size: 24px;
font-weight: 400;
line-height: 32px;
    }
}
@media screen and ( max-width: 766px) {
    .testimonials__items {
        display: flex;
        flex-direction: column;
    }
    .items__right-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        padding-bottom: 10px;
        

    }
    .items__right-subtitle {
        padding-bottom: 95px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        

    }

}