.work {
    max-width: 1510px;
   margin: 0 auto;
}



.work-images {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 340px 340px;
    overflow: hidden;
}
.work-images__img-bg {
    background-image: url(../img/work_3.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: scroll;
width: 378px;

    
}
.bg-pink {
    background-color: rgba(255, 67, 67, 0.8);
    width: 378px;
    height: 340px;
}
.img__photo {
    width: 378px;
    height: 340px;
}
.img__photo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 20.57px;
    
}
.img__photo-subtext {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #fff;
}
.img-text {
    align-items: center;
    padding-top: 110px;
}
