.work {
    max-width: 1510px;
   margin: 0 auto;
}
.work-images {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    overflow: hidden;
}
.work-images__img-bg {
    background-image: url(../img/work_3.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: scroll;
max-width: 378px;
}
.bg-pink {
    background-color: rgba(255, 67, 67, 0.8);
    max-width: 378px;
    min-height: 100%;
    width: 100%;
}
.img__photo {
    max-width: 378px;
    width: 100%;
}
.img__photo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 20.57px; 
}
.img__photo-subtext {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #fff;
}
.img-text {
    align-items: center;
}
@media screen and (max-width: 766px) {
    .work-images {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
}
.img__photo-text {
font-size: 18px;
font-weight: 900;
line-height: 21px;
}
.img__photo-subtext {
font-size: 14px;
font-weight: 400;
line-height: 16px;
}
}